<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
    <link rel="stylesheet" type="text/css" href="../static/madlibs.css">
</head>
<body>
    <form action="/madlib">
        What's your name? 
        <input type="text" name="person"><br><br>
        Choose a color: 
        <input type="color" name="color"><br><br>
        Choose a noun: 
        <select name="noun">
            <option value="cow">cow</option>  
            <option value="house">house</option>   
            <option value="bentobox">bento box</option>       
        </select><br><br>
        Choose an adjective:
        <select name="adj">
            <option value="large">large</option>
            <option value="pretty">pretty</option>
            <option value="stinky">stinky</option>
        </select><br><br>
        <input type="submit" name="">
    </form>
    <footer>Made by Arpa and Brittany</footer>
</body>
</html>